# settings.py
DEBUG=on
SECRET_KEY='django-insecure-8^nh1e=2e#4b6kj)t(6_5+m311o3d@fp3@*fvqi29(1^ua7&xw'
# AWS settings
AWS_ACCESS_KEY_ID="admin"
AWS_SECRET_ACCESS_KEY="password123"
AWS_STORAGE_BUCKET_NAME="buck1"
AWS_S3_ENDPOINT_URL="http://localhost:9000"
AWS_S3_REGION_NAME="us-east-1"
MEDIA_URL=f'{AWS_S3_ENDPOINT_URL}/media'/
# celery settings
CELERY_BROKER_URL='redis://localhost:6379/0'
CELERY_TASK_TRACK_STARTED=True
CELERY_TASK_TIME_LIMIT=30 * 60

CELERY_ACCEPT_CONTENT=['json']
CELERY_TASK_SERIALIZER='json'

CELERY_RESULT_BACKEND='redis://localhost:6379/0'
CELERY_CACHE_BACKEND='default'
# for test case use change to True
CELERY_TASK_ALWAYS_EAGER=False
CELERY_TASK_EAGER_PROPAGATES=False
# zarinpal gateway
MERCHANT_ID="2558e168-5454-231c-812b-716adbdbef83"
PAYMENT_URL="https://sandbox.zarinpal.com/pg/v4/payment/request.json"
VERIFY_URL="https://sandbox.zarinpal.com/pg/v4/payment/verify.json"
CALL_BACK_URL=f"https://localhost:8000"
START_PAY_URL=f"https://sandbox.zarinpal.com/pg/StartPay/"

